   .meniu {
       height: 100vh;
       background-color: #eee;
       position: fixed;
       left: 0;
       top: 0;
       width: 25%;
       padding: 2rem;
       transition: left 600ms ease-in-out;
       z-index: 1;
       margin-right: 250px;
       display: flex;
       flex-direction: column;
   }
   
   .logo {
       width: 25vw;
       height: 25vh;
       cursor: pointer;
       display: flex;
       flex-direction: column;
       margin-bottom: 15vh;
   }
   
   ul a {
       width: 100%;
       display: flex;
       border-bottom: 1px solid #ccc;
       color: #333;
       padding: .5rem 0;
       text-decoration: none;
       font-size: 20px;
       text-decoration: none;
   }
   
   .nuorodos {
       display: flex;
       flex-direction: column;
   }