<div class="meniu">
    <div class="logo">
        <img src="../assets/suoFoto.jpg" (click)="grizti()">
        <h1>Šuniukų API</h1>
    </div>
    <div class="nuorodos">
        <ul>
            <li>
                <a routerLink="../pagrindinis">Pagrindinis</a>
            </li>
            <li>
                <a routerLink="../dokumentacija ">Apie</a>
            </li>

            <li>
                <a routerLink="../apie ">Naudinga informacija</a>
            </li>
            <li>
                <a routerLink="../ivedimas ">Šuniukų įvedimas</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://github.com/zydrunaszujus/suniukuApi">Mano GitHub</a>
            </li>
        </ul>
    </div>

</div>