<router-outlet></router-outlet>
<div class="meniu">
    <div>
        <a routerLink="./pagrindinis"><img class="logo" src="../assets/suoFoto.jpg"></a>
        <h1>Šuniukų API</h1>
    </div>
    <div class="nuorodos">
        <ul>
            <li>
                <a routerLink="./pagrindinis">Pagrindinis</a>
            </li>
            <li>
                <a routerLink="./dokumentacija">Dokumentacija</a>
            </li>

            <li>
                <a routerLink="./apie">Naudinga informacija</a>
            </li>
            <li>
                <a routerLink="./ivedimas">Šuniukų įvedimas</a>
            </li>
        </ul>
        <ul>
            <li>
                <a target="_blank" href="https://github.com/zydrunaszujus/suniukuApi/">Mano GitHub</a>
            </li>
        </ul>
    </div>

</div>