<div class="pagrindinis ">
      
        <h1><strong style="font-size: 35px; ">Tekstas – tai kas parašyta </strong></h1>
      <p class="tekstas ">       
    Diskursas – tai, kas pasakyta – situacijos padarinys (teksto vienetas).

     Pastaraisiais metais dažnai vartojamas žodis diskursas. Ši sąvoka į lietuvių kalbą atėjo iš semantikos darbų
ir tapo magišku terminu.
        
    Labai dažnai žodžiu diskursas pavadinamas tekstas. Jeigu diskursas, išskyrus tekstą, daugiau nieko
nereiškia, tai nėra prasmės vartoti šį pavadinimą.   
        </p>
    <div class="generatorius ">
        <div class="nuoroda ">
            https://apidarbai.herokuapp.com/WeatherForecast/Suniukas
        </div>
        <button type="submit " (click)="gautiSuniuka() " class="mygtukas ">Nuotrauku generatorius</button>
    </div>
    <div class="json ">
        <div class="jsonGrupe ">
            <h4>JSON</h4>
            <div class="JasonAdresas ">
                {{adresas}}
            </div>
        </div>
        <div class="fotoGrupe ">
            <h4>FOTO</h4>
            <div clas="nuotrauka ">
                <img [src]="manoNuotrauka " alt="">
            </div>
        </div>


    </div>
</div>