<app-meniu></app-meniu>
<div class="pagrindinis">
    <p class="tekstas">
        Norint įsigyti puikų draugą, bendražygį. Apsiręsti, kokia veislė Jums labiausiai tinka, padės <a target="_blank" href="https://www.sunu-veisles.lt/" class="veisles">šunų veislės ir jų aprašymas</a>. Apsisprendus, jog Jums tikrai reikia ištikimo
        draugo ir esate pasiryžęs juo rūpintis. Įsigyti šunį galima <a target="_blank" href="https://www.sunuveislynai.lt/%C5%A1un%C5%B3-veislynai" class="veislynai">šunų veislynuose</a> arba <a target="_blank" href="https://www.noriunamu.lt/prieglaudos/miestas/visi">šunų prieglaudose</a>,
        kuriose yra beglobiai ir labai laukiantys naujų jaukių namų ir rūpestingų šeiminkų. Įsigijus draugą, kad būtų lengviau bendrauti ir vienas kitą suprasti, patartina dresuoti. Tuo galima užsiimti ir patiems, bet galima tai perleisti profesonalams,
        užsiimantiems
        <a target="_blank" href="https://sunudresavimas.lt/" class="dresura">šunų dresavimu</a>.


    </p>
</div>